body {
  background-color: mistyrose;
}
h3 {
  color: purple;
}
hr {
  border: 5px solid yellowgreen;
}
input {
  color: blue;
  font-size: 15px;
}
button {
  color: blue;
  font-size: 15px;
}
a {
  font-family: monospace;
  font-size: 18px;
  color: #ff1493;
}
